@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

html {
    overflow-x: hidden
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #0A0A0B;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* total width */
body::-webkit-scrollbar {
    background-color: #3F0B2B;
    width: 10px;
    height: 6px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #110929;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #3F0B2B;
    border-radius: 16px;
    border: none;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}